<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>vendr</title>

  <link rel="shortcut icon" type="image/png" href="http://media.tumblr.com/tumblr_m9c88xlaM91qbs47q.gif"/>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" type="text/css" href="style/main.css" />
  <link rel="stylesheet" type="text/css" href="style/landing.css" />
</head>
<body>
  <div class="landing-container">
    <img src="./images/poke_gif.gif">
    <h1>PokeMarket</h1>
    <h4>grab 'em all</h4>
    <div class="login-button-container">
      <a class="login-button" href="/auth/facebook">
      <img class="fbook" src="./images/fbook_black.png"></a>
    </div>
  </div>
</body>
</html>
