<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>vendr</title>
  <!--script tag below is for FB OAuth (it oddly adds _=_ to url, which causes redirect to fail)-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" type="text/css" href="style/main.css" />
</head>
<body>
  <div class="login-title">Vendr</div>
  <div class="login-text">Log In</div>
  <div class="login-button-container">
    <a class="login-button" href="/auth/facebook">Use Facebook Account</a>
  </div>
</body>
</html>
