
/***************** GENERAL *****************/

@import url(https://fonts.googleapis.com/css?family=Raleway:300,300italic,500);
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Raleway';
    font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 900px;
}

.bold {
  font-weight:500;
}

.pure-button {
  background-color: #939393;
  color: white;
}

.pure-button:hover {
  background-color: #b9b9b9;
  transition: all 0.3s ease;
}

.pure-button-primary {
  background-color: #aec6cf;
}

.pure-button-primary:hover {
  background-color: #cedde2;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: black;
}

.item-entry:hover {
  background-color: #eef3f5;
  transition: all 0.3s ease;
}

/***************** PROFILE ******************/
.profile-page * {
  box-sizing: border-box;
}
.profile-page {
  /*width: 69%;*/
  margin-left: 15%;
  margin-top: 100px;
  margin-right: 15%;
}

.profile {
  display: inline-block;
}

.profile .username {
  font-size: 30px;
  font-weight: bold;
}


.feedback-profile {
  vertical-align: top;
}

.username-name {
  display: inline-block;
  margin-right: 5px;
}

.profile .username-name {
  margin-bottom: 10px;
}

.profile .message-button {
  width: 40px;
}

.profile .profile-created-at {
  font-weight: bold;
}

.feedback .feedback-section {
  font-size: 30px;
  font-weight: bold;
}

.feedback .feedback-button {
  width: 25px;
  margin-right: 5px;
}

.feedback .feedback-buttons {
  font-size: 27px;
  font-weight: bold;
  margin-right: 5%;
}

.feedback .feedback-entry {
  margin-top: 30px;
  margin-bottom: 30px;
}

.feedback .feedback-author-name {
  font-weight: bold;
  font-size: 20px;
}
/***************** FEEDBACK *****************/

.leave-feedback-selected {
  font-weight: bold;
}

.leave-feedback-input-box {
  position: relative;
  vertical-align: top;
  width: 850px;
}

.leave-feedback-entry {
  border: 1px solid black;
  padding: 10px;
}

.leave-feedback-name {
  font-weight: bold;
}

.leave-feedback-comment {
  width: 700px;
  display: inline-block;
  position: absolute;
  top: 0;
  margin-left: 5px;
}

.leave-feedback-comment-caption {
  text-align: middle;
}

.leave-feedback-submit {
  position: absolute;
  bottom: 0;
  right: 0;
}


/***************** NAVBAR / SEARCHBAR *****************/

.nav {
  font-weight: 500;
  font-size: 18px;
  /*margin-top: 20px;*/
  width: 100%;
}

.nav .search {
  width: 100%;
  text-align: center;
}

.nav .links {
  line-height: 60px;
}

.nav .links .empty-navlink {
  height: 60px;
  margin: 10px 0 0 0;
  padding: auto 0;
  text-align: center;
  vertical-align: middle;
  background-color: #1f1e1f;
}

.nav .links .navlink, .navlink2 {
  height: 70px;
  padding: auto 0;
  text-align: center;
  vertical-align: middle;
  background-color: #1f1e1f;
}

.nav .links .navlink:hover {
  border-bottom: 5px solid #F29B2F;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.nav .links .empty {
  border: none;
}

.nav .links .empty:hover {
  border: none;
}

.nav .links .dropdown ul {
  margin-top: -5px;
  transition: opacity 0.3s ease-out;
  opacity: 0; 
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.nav .links .dropdown:hover ul {
  opacity: 1;
  height: auto;
  background-color: #1f1e1f;
}

.nav .links .dropdown ul a {
  color: #E0DEDA;
}

.nav .links .dropdown ul div:hover {
  border-left: 5px solid #F29B2F;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.nav .links .navlink .fb-logo {
  padding-top: 10px;
  height: 50px;
  width: 90px;
}

.nav .links a {
  text-decoration: none;
  color: #E0DEDA;
}

/*.searchbar .search-input {
  margin-right: 5px;
  height: 50px;
  background-image: url(images/search-icon.png);
  background-size: 50px;
  background-position: 99% 45%;
  background-repeat: no-repeat;
  background-color: #E0DEDA;
}*/

.searchbar .search-input {
  height: 50px;
  margin-right: 5px;
}

.searchbar .search-icon {
  height: 30px;
  width: 30px;
}


/***************** ITEM SALE FORM *****************/

.sell-item .sell-item-title {
  margin-top: 20px;
  margin: 20px 0px 10px 0px;
  font-size: 20px;
  text-align: center;
}


/***************** ITEM PAGE *****************/

.item {
  position: absolute;
  left: 5%;
  right: 5%;
  width: 90%;
}

.item .item-title {
  font-size: 40px;
  margin: 20px;
}

.item .item-info {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  height: 400px;
}

.item .item-info .item-picture {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 500px;
  margin: 0px 0px 10px 20px;
}

.item .item-info .item-description {
  position: absolute;
  bottom: 3%;
  margin: 10px 0px 0px 20px;
  max-width: 500px;
  word-wrap: break-word;
  overflow: hidden;
}

.item .item-info .watch {
  position: absolute;
  bottom: 3%;
  right: 59%;
}

.item .purchase {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  height: 400px;
}

.item .purchase .current-bid {
  margin-bottom: 15px;
  font-size: 20px;
}

.item .purchase .set-bid {
  margin-bottom: 15px;
  font-size: 20px;
}

.item .purchase .set-bid-button {
  margin-left: 10px;
}

.item .purchase .end-time {

}

.item .item-seller {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  height: 400px;
}

.item .item-seller .seller-info {
  font-size: 20px;
  margin-bottom: 15px;
}

.item .item-seller .seller-name {
  margin-bottom: 10px;
}

.item .item-seller .hover-image {
  height: 200px;
  width: 200px;
  position: relative;
}

.item .item-seller .hover-image .seller-picture {
  height: 200px;
  max-width: 100%;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.item .item-seller .hover-image .text {
  position: absolute;
  top: 20%;
  left: 20%;
  display: none;
  opacity: 0;
  font-weight: bold;
  transition: opacity 3s ease;
}

.item .item-seller .hover-image:hover .text {
  display: block;
  opacity: 1;
}


/***************** SEARCH RESULTS *****************/

.search-results {
  position: absolute;
  right: 10%;
  left: 10%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.search-results .item-entry {
  position: relative;
  display: inline-block;
  width: 500px;
  height: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 20px 20px;
  padding: 20px;
}

.search-results .item-entry .item-entry-picture {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 300px;
  max-width: 500px;
}

.search-results .item-entry .all-info {
  position: absolute;
  bottom: 3%;
}

.search-results .item-entry .all-info .item-entry-info .item-entry-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.search-results .item-entry .all-info .item-entry-info .item-entry-description {
  margin-bottom: 5px;
  width: 500px;
  max-height: 40px;
  word-wrap: break-word;
  overflow: hidden;
}

.search-results .item-entry .all-info .item-entry-purchase .item-entry-current-bid {
  margin-bottom: 5px;
}

.search-results .item-entry .all-info .item-entry-purchase .item-entry-end-time {
  margin-bottom: 5px;
}

/***************** POPULAR ITEMS *****************/

.landing {
  margin-top: 20px;
}

.landing .popular-items {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}

.landing .popular-items .popular {
  font-weight: 500;
  font-size: 20px;
}

.landing .popular-items .item-entry {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 20px 20px;
  padding: 20px;
}

.landing .popular-items .item-entry .item-entry-picture {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 170px;
  max-width: 300px;
}

.landing .popular-items .item-entry .all-info {
  position: absolute;
  bottom: 3%;
}

.landing .popular-items .item-entry .all-info .item-entry-info .item-entry-title {
  font-size: 24px;
  margin-bottom: 5px;
}

.landing .popular-items .item-entry .all-info .item-entry-info .item-entry-description {
  margin-bottom: 5px;
  width: 300px;
  max-height: 40px;
  word-wrap: break-word;
  overflow: hidden;
}

.landing .popular-items .item-entry .all-info .item-entry-purchase .item-entry-current-bid {
  margin-bottom: 5px;
}

.landing .popular-items .item-entry .all-info .item-entry-purchase .item-entry-end-time {
  margin-bottom: 5px;
}


/***************** WATCHED / LISTED ITEMS *****************/

.personalpage .watched-items {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.personalpage .listed-items {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.personalpage .item-entry {
  position: relative;
  display: inline-block;
  font-weight: 300;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  margin: 20px 20px;
  width: 80%;
  height: 500px;
}

.personalpage .item-entry .item-entry-picture {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 100%;
}

.personalpage .item-entry .all-info .item-entry-info .item-entry-title {
  margin-top: 10px;
  font-size: 24px;
  margin-bottom: 5px;
}

.personalpage .item-entry .all-info .item-entry-info .item-entry-description {
  margin-bottom: 10px;
  width: 100%;
  max-height: 40px;
  word-wrap: break-word;
  overflow: hidden;
}

.personalpage .item-entry .all-info .item-entry-purchase .item-entry-current-bid {
  margin-bottom: 10px;
}

.personalpage .item-entry .all-info .item-entry-purchase .item-entry-end-time {
  margin-bottom: 10px;
}

.personalpage .item-entry .all-info .item-entry-purchase .countdown {
  margin-bottom: 10px;
}


/***************** LEAVE FEEDBACK - PERSONAL PAGE *****************/

.personalpage .feedback {
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.personalpage .feedback .leave-feedback-entry {
  position: relative;
  display: inline-block;
  font-weight: 300;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  margin: 20px 20px;
  width: 80%;
  height: 500px;
}

.personalpage .feedback .leave-feedback-entry .picture {
  display: block;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 200px;
  max-width: 100%;
  margin-bottom: 10px;
}

.personalpage .feedback .leave-feedback-entry {
  font-size: 18px;
}

.personalpage .feedback .leave-feedback-entry .title {
  font-size: 20px;
  margin-bottom: 10px;
}

.personalpage .feedback .leave-feedback-entry .leave-feedback-button {
  width: 20px;
  height: 20px;
  border-radius: 10%;
  margin-bottom: 5px;
}

.personalpage .feedback .leave-feedback-entry .leave-feedback-comment {
  margin: 10px auto;
}


/***************** FEEDBACK *****************/
.leave-feedback-selected {
  font-weight: bold;
}
