/***************** NAVBAR *****************/

.nav {
  width: 100%;
  background-color: black;
}

.nav ul {
  text-align: center;
}

.search-input {
  margin-right: 10px;
}

.search-text {
  color: white;
  text-decoration: none;
}

